body{
    display: flex;
    font-size: larger;
    justify-content: center;
    align-items: center;
}
form{
    border-style: solid;
    border-color: rgb(186, 186, 186);
    border-radius: 3px;
    width: 500px;
    margin:100px 550px;
    padding: 40px;
}
input{
    border-radius: 3px;
    border-color: grey;
    height: 30px;
    width:300px;
}
a{
    margin-top: 20px;
    padding: 20px;
}
button{
    float:right;
    padding:3px;
    margin-top: 5px;
    font-size:15px;
}
#error{
    color:red;
    font-size: x-small;
}